:root {
  --cell-size: 100px;
  --maze-size: 5;
}

.maze {
  height: 80vh;
  margin: auto;
  max-height: 90vw;
  max-width: 90vw;
  position: relative;
  width: 80vh;
}

.cell {
  background-color: beige;
  box-sizing: border-box;
  height: var(--cell-size);
  position: absolute;
  width: var(--cell-size);
}
