:root {
  --camera-size: 5;
  --cell-size: 100px;
  --maze-size: 10;
}

.maze {
  display: grid;
  grid-template: repeat(var(--camera-size), var(--cell-size)) / repeat(
      var(--camera-size),
      var(--cell-size)
    );
  height: 80vh;
  margin: auto;
  max-height: 90vw;
  max-width: 90vw;
  position: relative;
  width: 80vh;
}

.cell {
  background-color: beige;
  box-sizing: border-box;
}
