.maze {
  display: grid;
  height: 80vh;
  margin: auto;
  max-height: 90vw;
  max-width: 90vw;
  position: relative;
  width: 80vh;
}

.cell,
.blank {
  box-sizing: border-box;
}

.cell {
  background-color: beige;
  position: relative;
}

.blank {
  background-color: black;
}
