.museum {
  display: inline-block;
  outline: none;
  overflow: hidden;
  position: relative;
  -webkit-line-break: unset;
}

.cell {
  position: relative;
}

.player {
  position: absolute;
}

.museumFrame {
  display: inline-block;
  max-height: inherit;
  max-width: inherit;
  overflow: hidden;
  position: relative;
}

.interactionFrame {
  background-color: antiquewhite;
  border-radius: 2px;
  bottom: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  height: 100%;
  left: 0;
  overflow: auto;
  position: absolute;
  width: 100%;
}
