.maze {
  display: grid;
  height: 80vh;
  margin: auto;
  max-height: 90vw;
  max-width: 90vw;
  position: relative;
  width: 80vh;
}

.cell {
  position: relative;
}

.spriteHolder {
  left: 0;
  position: absolute;
  top: 0;
}
